<div class="footer-padding">
    <div class="footer">
        <div class="icon">
            <a target="_blank" href="https://www.linkedin.com/in/griffin-georgiadis/" class="btn btn-link">
                <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://github.com/GriffGeorgiadis" class="btn btn-link">
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="mailto:griffingeorgiadis@gmail.com" class="btn btn-link">
                <i class="fas fa-envelope"></i>
            </a>
            <!-- <a target="_blank" href="Griffin_Georgiadis's_Resume.pdf" class="btn btn-link">
                <i class="fas fa-file"></i>
            </a> -->
        </div>
    </div>
</div>
</body>

</html>