<%- include('./partials/header') -%>

<section id="about">
    <div class="container-about">
        <div class="row">
            <div class="photo col-md-12">
                <img class="photo-me" src="/images/me.png" alt="" />
            </div>
        </div>
        <div class="about-contents row">
            <div class="para col-md-6">
                <h2>Objective</h2>
                <p>
                    A recent graduate with professional software development
                    experience that has a passion for solving complex problems using
                    software, looking to work in a creative, high energy environment
                </p>
            </div>
            <div class="para col-md-6">
                <h2>Personal Information</h2>
                <p>
                    Being a triplet, and one of four boys, has prepared me to be a
                    good communicator and team player. I am motivated, focused and
                    results oriented. I am a duel citizen of the United States and the
                    United Kingdom.
                </p>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') -%>